@model List<Write.io.Models.Blog>

<div class="BlogGrid">
    @foreach (var blog in Model)
    {
        var headerimage = "";
        if (blog.BlogHeaderURL != "")
        {
            headerimage = "style=background-image:url(" + @blog.BlogHeaderURL + ")";
        }
        <a class="BlogCardLink" href="/b/@blog.User.Nickname/@blog.Title/">
            <div class="BlogCard">
                <div class="BlogCardHeader" @headerimage>
                    <h2>@blog.Title</h2>
                </div>
                <div class="BlogCardBody">
                    <p>@blog.Body</p>
                </div>
            </div>
        </a>
    }
</div>