@model Write.io.Models.BlogPostViewModel
@{
    ViewBag.Title = Model.PostViewModel.Post.Title;
    ViewBag.Model = Model;
    ViewBag.BlogURL = "/b/" + Model.User.Nickname + "/" + Model.Blog.Title;
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
    ViewBag.Archive = Model.PostArchive;
}

<div class="BlogContainer row">
    <div id="BlogPostsContainer" class="PostsContainer col-12 col-lg-9">
        @Html.Partial("_BlogPostPartial", Model.PostViewModel)
    </div>
    <div class="BlogSiderbarContainer col-12 col-lg-3">
        @Html.Partial("_BlogSidebar", Model.User)
    </div>
</div>
